.area-registro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 100%;
    flex-direction: column; 
}

.area-texto-registro h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.area-texto-registro p {
    text-align: center;
    color: #666666;
    margin-bottom: 20px;
    font-size: 15px;
}

.area-caixa-formulario-r { 
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 450px;
    margin: 30px auto; /* Centraliza a caixa na página */
    background-color: white; /* Fundo branco */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center;
}

#campo-email-r {
    margin-top: 40px;
}

.campo-formulario-r input {
    width: 65%;
    height: 35px;
    margin: 10px;
    border-radius: 8px;
    border: 1px;
    opacity: 0px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #999999
}

.area-registro button {
    color: #F0F0F0;
    padding: 14px 12px;
    width: 35%;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color:#0886E1;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.area-registro button:hover {
    color: #0886E1;
    background-color: #F0F0F0;
    border: 1px solid #0886E1;
}

.area-caixa-formulario-r p {
    margin-bottom: 70px;
}

.area-caixa-formulario-r a {
    text-decoration: none;
    color: inherit;
}

