.area-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.area-texto-login h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.area-texto-login p {
    text-align: center;
    color: #666666;
    margin-bottom: 30px;
    font-size: 15px;
}

.area-caixa-formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    height: auto; /* A altura da caixa vai se adaptar ao conteúdo */
    width: 450px;
    margin: 30px auto; /* Centraliza a caixa na página */
    background-color: white; /* Fundo branco */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* Sombra */
    gap: 20px; /* Espaçamento entre os elementos */
    text-align: center;
}

.campo-formulario-email{
    margin-top: 40px;
    width: 100%; /* Faz os campos ocuparem toda a largura da caixa */
    display: flex;
    justify-content: center; /* Centraliza o input dentro do campo */
}

.campo-formulario-senha{
     width: 100%; /* Faz os campos ocuparem toda a largura da caixa */
     display: flex;
     justify-content: center; /* Centraliza o input dentro do campo */
}

.area-login #alterar-senha {
    text-align: end;
    color: #666666;
    margin-right: 68px;
    margin-bottom: 40px;
    font-size: 15px;
}

/* Estilo para a área de registro */
.area-registrar {
    margin-top: 20px;
    text-align: center;
}

.area-registrar a {
    text-decoration: none;
    color: inherit;
}